<html>
<head>
<title>Insulin Engine (Test Harness)</title>
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.8/vue.min.js">
</script>
<style type="text/css">
.input-group {
display:block;
}
em {
  font-weight: bold;
  font-style: normal;
}
</style>

</head>
  <body>
    <div id="vueroot" style="display: none">
      <div id="app-container">
        <div id="plrInsulinInfo">
          <div id="plr-blood-glucose" style="display:block">
            <em>Player Blood Glucose: </em>
            {{bloodGlucose}}
          </div>
          <div id="plr-hearts-value" style="display: block;">
            <em>Player hearts: </em>
            {{playerHeartsValue}}/{{playerHeartsMax}}
          </div>
          <div id="plr-insulin" style="display: block;">
            <em>Player Insulin: </em>
            {{insulinUnitsInSystem}}
          </div>
          <div id="plr-carbs" style="display: block;">
            <em>Player Carbs: </em>
            {{carbsInSystem}}
          </div>
        </div>

        <hr />
        
        <div id="plrInsulinControls">
          
          <em>Eat food</em>
          <div class="input-group">
            <select id="food-type" v-model.number="foodValue">
              <option value="15">Bread 15 carbs</option>
              <option value="30">Watermelon 30 carbs</option>
              <option value="45">Cookie 45 carbs</option>
            </select>
            <input 
              type="number" id="food-units" 
              value="1" min="1" max="5" 
              step="1" v-model.number="foodUnits"
            />
            <button id="eat-food" v-on:click="eatFood">Eat</button>
          </div>

          <hr />
          
          <em>Take Insulin</em>
          <div class="input-group">
            <input type="number" v-model.number="insulinUnits" id="insulin-units"
            value="1" min="0" max="100" step="1" />
            <button id="take-insulin" v-on:click="takeInsulin">Take</button>
          </div>
        
        </div>
        <br />
        <div id="feedback">
          <textarea v-model="feedbackMessage" 
            cols=50 rows=2 
            id="feedback" disabled="disabled"
            style="display: block; background-color: #FFF;border: none;"
          >
          </textarea>
          <button id="feedback-clear" v-on:click="clearFeedback">
            Clear Feedback
          </button>
        </div> 
        <hr />
        <h3>App Config</h3>
        <div id="app-config">
          Player can eat <input type="number" name="carbs-reference-unit" size="5" maxlength="5" v-model="configCarbsReferenceUnit" /> for each 1 unit of insulin taken.<br />
          Player can have a minimum safe BGL of <input type="number" size="5" maxlength="5" name="min-safe-bgl" v-model="configMinSafeBGL" /> bgl units. <br />
          Player can have a maximum safe BGL of <input type="number" size="5" maxlength="5" name="max-safe-bgl" v-model="configMaxSafeBGL" /> bgl units
        </div>
      </div>
    </div>
    <div id="app">

    </div>
 <script type="text/javascript">
"use strict";
var vue = new Vue({
  el: "#app",
  template: "#vueroot",
  data: function(){
    return {
      configCarbsReferenceUnit: 15,
      configMinSafeBGL: 4,
      configMaxSafeBGL: 8,
      bloodGlucose: 6,
      foodValue: 0,
      foodUnits: 1,
      insulinUnits: 1,
      insulinUnitsInSystem: 0,
      carbsInSystem: 0,
      feedbackMessage: "",
      playerHeartsValue: 10,
      playerHeartsMax: 10,
    }
  },
  created: function(){
    console.log("created");
  },
  methods: {
    eatFood: function(){
      this.carbsInSystem += this.foodValue * this.foodUnits;
      this.updateSimpleModel();
    },
    takeInsulin: function(){
      this.insulinUnitsInSystem += this.insulinUnits;
      this.updateSimpleModel();
    },
    updateSimpleModel: function(){

      // increase bgl
      this.bloodGlucose += (
          this.carbsInSystem * 0.25
        );
      this.carbsInSystem = 0;

      // decrease bgl by amount of insulin in system
      
      this.bloodGlucose -= (
          (this.insulinUnitsInSystem * (this.configCarbsReferenceUnit * 0.25))
      )
      this.insulinUnitsInSystem = 0;

      // we can't have negative blood glucose, it is really just unused (excess) insulin
      // update insulin & blood glucose to show this
      if(this.bloodGlucose < 0){
        // set unused insulin
        this.insulinUnitsInSystem += Math.abs(this.bloodGlucose/(this.configCarbsReferenceUnit*0.25));
        this.bloodGlucose = 0;
      }
      //finished making changes to player t1 stats
      this.feedbackMessage += " Updated simple model. \n";

      //what does this mean for player health / side effects
      this.applySideEffects();
    },
    applySideEffects: function(){
      if(this.bloodGlucose < 3){
        this.feedbackMessage += "\t My BGL is too low (< "+this.configMinSafeBGL+") (too much insulin), i show symptoms like: shaky, incoherence, coma death\n";
      }
      if(this.bloodGlucose > 25){
        this.feedbackMessage += "\t My BGL is extremely high (> "+ this.configMaxSafeBGL+") too many carbs!, it causes damage to my player health\n";
      }
    },
    clearFeedback: function(){
      this.feedbackMessage = "";
    }
  }
});
    </script>
  </body>
</html>
